@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@font-face {
  font-family: 'Saiyan Sans';
  src: url('../assets/fonts/SaiyanSans.woff2') format('woff2'),
    url('../assets/fonts/SaiyanSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --container-width: 1000px;
  --gradient: linear-gradient(
    45deg,
    hsl(16deg 100% 50%) 0%,
    hsl(21deg 100% 50%) 8%,
    hsl(25deg 100% 50%) 17%,
    hsl(29deg 100% 50%) 25%,
    hsl(32deg 100% 50%) 33%,
    hsl(36deg 100% 50%) 42%,
    hsl(39deg 100% 50%) 50%,
    hsl(41deg 100% 50%) 58%,
    hsl(42deg 100% 50%) 67%,
    hsl(44deg 100% 50%) 75%,
    hsl(46deg 100% 50%) 83%,
    hsl(47deg 100% 50%) 92%,
    hsl(49deg 100% 50%) 100%
  );
  --header-background-color: #fbfcfc;
  --black: #000000;
  --white: #ffffff;
  --orange: #ffa500;
  --font-md: 1rem;
  --font-md-lg: 2rem;
  --font-lg: 3.5rem;
  --font-xl: 5rem;
  --font-xxl: 7.5rem;
}

* {
  box-sizing: border-box;
}

html,
button {
  font-family: 'Oswald', sans-serif;
}

button {
  border: none;
}

#content {
  background-image: url('../assets/mangaBackground.jpg');
  background-position-x: center;
  min-height: calc(100vh + 40px);
  position: relative;
}

.header {
  text-align: center;
  background-color: var(--header-background-color);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.title {
  font-family: 'Saiyan Sans', sans-serif;
  font-size: var(--font-xxl);
  /* word-spacing: -2vmin; */
  color: var(--white);
  background: -webkit-linear-gradient(yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.3vmin var(--black);
  position: relative;
  margin: 1rem 0 0 0;
}

.title::after {
  position: absolute;
  content: '';
  height: 6.5rem;
  width: 6.5rem;
  background-image: url('../assets/tails.jpg');
  background-repeat: no-repeat;
  background-size: 6.5rem;
  rotate: 270deg;
}

.nav,
.nav .container > button,
.try,
.card {
  color: var(--white);
  background-color: var(--black);
}

.nav .container {
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  border-collapse: separate;
}

.nav .container > button {
  font-size: var(--font-md-lg);
  font-weight: bold;
  padding: 0.25rem 0;
}

.main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem 1rem 0 1rem;
}

.description {
  margin: 3rem 5rem 3rem 1.5rem;
}

.orange-text {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: orange;
  color: var(--black);
}

.orange-text,
.try {
  line-height: 2.25;
  font-size: var(--font-md-lg);
  font-weight: bold;
  padding: 0.2rem 1.5rem;
}

.orange-text,
.contact-card > h1 {
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 1);
}

.dragon-tail {
  margin-top: 2.5rem;
  text-align: end;
}

.try {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: var(--black);
  color: var(--orange);
}

.try,
.contact-card > p {
  box-shadow: 7px 7px 0px 0px rgba(255, 165, 0, 1);
  -webkit-box-shadow: 7px 7px 0px 0px rgba(255, 165, 0, 1);
  -moz-box-shadow: 7px 7px 0px 0px rgba(255, 165, 0, 1);
}

.card {
  align-self: center;
  max-width: 35rem;
  border-radius: 1.5rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin: 2rem 0;
}

.goku {
  margin-bottom: calc(3rem + 40px);
}

.profile-photo {
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* object-fit: fill; */
  border-radius: 1rem;
}

img {
  max-width: 35rem;
}

.text {
  font-size: var(--font-md-lg);
  margin: 0;
}

.signature {
  text-align: end;
  font-style: italic;
  color: rgb(0, 255, 17);
  margin-top: 1.5rem;
}

.contact-card {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 2rem auto;
}

.contact-card > * {
  padding: 1rem 3rem;
}

.contact-card > h1 {
  line-height: normal;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.35vmin 2vmin;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: orange;
  color: var(--black);
}

.contact-card > p {
  font-size: 1.75rem;
  font-weight: bold;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: var(--black);
  color: var(--orange);
  margin-bottom: 2rem;
}

.footer {
  width: max-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

.footer > img {
  height: 40px;
}
